<div class="container">
  <div class="image">
    <img src="/assets/1959222437_elbaf-1_202405.jpg" alt="elbaf arc" />
  </div>
  <div>
    <p class="para">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, numquam in
      ipsum vel aspernatur eos illum sequi voluptatum laudantium perspiciatis
      fugit ipsa accusantium dicta et omnis adipisci? Earum, accusantium
      distinctio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
      culpa rerum harum veniam modi pariatur consequatur, in et enim quo
      inventore! Animi, debitis autem. Soluta laudantium aliquam molestiae
      corporis quibusdam.
    </p>
  </div>
</div>
<div class="container-1">
  <div class="image1">
    <img src="/assets/1959222437_elbaf-1_202405.jpg" alt="elbaf arc" />
  </div>
  <div>
    <p class="para1">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, numquam in
      ipsum vel aspernatur eos illum sequi voluptatum laudantium perspiciatis
      fugit ipsa accusantium dicta et omnis adipisci? Earum, accusantium
      distinctio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
      culpa rerum harum veniam modi pariatur consequatur, in et enim quo
      inventore! Animi, debitis autem. Soluta laudantium aliquam molestiae
      corporis quibusdam.
    </p>
  </div>
</div>
<br>
<hr />
<br>
<div class="giants">
  <div class="giants-item">
    <img
      src="../../assets/27a14-16923477319676-1920.webp"
      alt="Jaguar D saul"
    />
    <p class="para-giants">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sed
      delectus corporis ea ab consequatur ex alias quisquam. Qui recusandae
      minus magni nesciunt necessitatibus, labore nostrum hic sequi dolor odio.
      Lorem ipsum dolor sit amet consectetur adipisicing.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui.
      Lorem ipsum dolor sit amet.
      Lorem ipsum dolor sit amet consectetur.
    </p>
  </div>
  <div class="giants-item">
    <img src="../../assets/538a5-16923134987406-1920.webp" alt="Loki" />
    <p class="para-giants">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sed
      delectus corporis ea ab consequatur ex alias quisquam. Qui recusandae
      minus magni nesciunt necessitatibus, labore nostrum hic sequi dolor odio.
      Lorem ipsum dolor sit amet consectetur adipisicing.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui.
      Lorem ipsum dolor sit amet.
      Lorem ipsum dolor sit amet consectetur.
    </p>
  </div>
  <div class="giants-item">
    <img
      src="../../assets/f8211-16923133073834-1920.webp"
      alt="Dori and Broggy"
    />
    <p class="para-giants">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sed
      delectus corporis ea ab consequatur ex alias quisquam. Qui recusandae
      minus magni nesciunt necessitatibus, labore nostrum hic sequi dolor odio.
      Lorem ipsum dolor sit amet consectetur adipisicing.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui.
      Lorem ipsum dolor sit amet.
      Lorem ipsum dolor sit amet consectetur.
    </p>
  </div>
</div>
<hr />

<div class="main-container">
  <div>
    <h1>World Government</h1>
  </div>
  <div>
    <h1>Celestial Dragons</h1>
    <div>
      <h3>Cipher Pol</h3>
    </div>
  </div>
  <div>
    <h1>Levely</h1>
    <div>
      <h3>Marine</h3>
    </div>
  </div>
    <div>
      <h1>Commanders and Admirals</h1>
    </div>
</div>

<br>
<hr>
